.picture{
    margin:50px auto;
    display:block;
}
.image{
    border:1px solid black;
    width: 75%;
    position: absolute;
    left: 21%;
    top: 260px;
}
.source{
    position: relative;
    top: 297px;
    left: 296px;
    width: 75%;
}
.source p{
    margin-top: 20px;
}